@charset "utf-8";
/* CSS Document */

.row-clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


.ficha-actividad {
	font:14px/20px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#333;
}

.header-ficha { background-color:#5e6876; padding:0 10px; color:#fff; margin-bottom:35px;}
.header-ficha .container-width { padding:45px 0; width:850px;}
.container-width { width:995px; margin:auto; max-width:100%; position:relative;}
.header-ficha h2 { font:300 42px/50px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; color:#fff; float:none; margin-bottom:4px;}
.header-ficha h3 { font:500 21px/28px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; color:#fff; color:rgba(255,255,255,0.6);}
.icono-ficha-actividad { position:absolute; bottom:-42px; right:7%; }
.icono-ficha-actividad img { width:200px; height:auto;}
#actmapa .icono-ficha-actividad img { width:280px; height:auto;}
#actsopa .icono-ficha-actividad, #actcompletar .icono-ficha-actividad, #actdictado  .icono-ficha-actividad { bottom:-22px;}
#actcoleccion .icono-ficha-actividad img { width:180px;  height:auto;}


.column-left-50 { width:47%; float:left; }
.column-right-50 { width:47%; float:right; padding-top:16px; }
.container-video-act { margin-bottom:18px;     box-shadow: rgba(0,0,0,0.40) 0 5px 28px -6px; overflow:hidden;}
.descripcion-actividad-ficha { padding:0 10px 25px;}

.format-text, .format-text p { font:15px/22px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; }
.format-text p, .format-text ul, .format-text ol { margin-bottom:14px;}
.format-text ul, .format-text ol { margin-left:40px; }
.format-text li { margin-bottom:6px; }

.format-text ul li { list-style-type:disc;}
.format-text ol li { list-style-type:decimal;}

.content-examples {
	float:left;
	width:660px;
}

.content-examples2 {
	float:left;
	width:774px;
}

.link-more-examples {
	background-color: #ecedef;
  float: right;
  width: 297px;
  margin-top:78px;
}

.link-more-examples2 {
	background-color: #ecedef;
  float: right;
  width: 190px;
  margin-top:78px;
}

.demoIF2 {
	width:774px;
	height:550px;
	border:0;
	background:#5e6876;
	max-width:100%;
}

@media only screen and (max-width: 430px) {
	.demoIF2 {
		height:650px;
	}
}

.boxact strong  { font-size:12px;}
.examples-actividades h3 { font-size:27px; height:70px; padding-top:8px; line-height:30px; font-weight:500; }
.link-more-examples h4, .link-more-examples2 h4 { font-size:17px; line-height:24px; margin-bottom:14px;}
.examples-actividades .container-width { border-top:1px solid #ddd; padding:30px 0 20px; border-bottom:1px solid #ddd;}
.boxactder {
    width: 203px;
}
.link-more-examples .format-text, .link-more-examples2 .format-text { padding:25px 25px 12px; }
.crea-actividades { text-align:center; }
.crea-actividades .container-width { padding:25px 0; width:630px;}
.crea-actividades {
	padding-bottom: 390px;
	background-image: url(../img/image-footer-ficha.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.crea-actividades h3 { font-weight:500;  font-size:30px; margin-bottom:25px; padding-top:30px; line-height:36px; }
.crea-actividades p { font-size:17px; line-height:23px; font-weight:400; margin-bottom:20px; }
.btn-important-link { display:inline-block; font-weight:500; color:#fff; text-decoration:none; background-color:#81ae19; padding:8px 54px; font-size:16px; line-height:24px; border-radius:2px; box-shadow: rgba(0,0,0,0.7) 0 1px 2px;  }

.btn-important-link:hover { background-color:#86b41e;}
.btn-important-link:active { background-color:#78a412; box-shadow:inset rgba(0,0,0,0.2) 0 1px 3px; transition:none;}


@media only screen and (max-width: 970px) {
	.content-examples, .content-examples2, .link-more-examples, .link-more-examples2, .column-left-50, .column-right-50 { float:none; clear:both; width:100%;}
	.content-examples, .content-examples2 {  max-width:660px;}
}
@media only screen and (max-width: 840px) {
	.ri.boxbusact, .le.boxbusact { float:none; clear:both; width:100%; max-width:320px;}
}
@media only screen and (max-width: 740px) {
	.icono-ficha-actividad { display:none;}
}
.container-video-act .boxAdsense { text-align:center; margin-bottom:0;}